# Auto detect text files and perform LF normalization
* text=auto
/Users/eman/Desktop/SummarizationGithub/Summarization/Dataset/CNN/SegmentedDataset/train-segmented.zip filter=lfs diff=lfs merge=lfs -text
Dataset/CNN/SegmentedDataset/train-segmented.zip filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
